<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aorora">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".mMainActivity">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
        <activity android:name=".slider_survey_page"
            android:noHistory="true"/>
        <activity android:name=".SuperflyInvites" />
        <activity android:name=".SuperflyLobby" />
        <activity android:name=".AtriumDetail" />
        <activity android:name=".ARScreen"
            android:noHistory="true"/>
        <activity android:name=".ButterflyGameActivity"
            android:noHistory="true"/>
        <activity android:name=".MindfulnessMeditationGame_R"
            android:noHistory="true"/>
        <activity
            android:name=".ReceiptPage"
            android:parentActivityName=".HomeScreen"
            android:noHistory="true">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeScreen" />
        </activity>
        <activity android:name=".EndOfMindfulnessGamePage" />
        <activity android:name=".PollenStoreDailyQuestPage" />
        <activity android:name=".PollenShopPage" />
        <activity android:name=".DailyQuestPage" />
        <activity android:name=".MindfullnessWalking"
            android:noHistory="true"/>
        <activity android:name=".BackendTest" />
        <activity
            android:name=".MindfullnessWalkingGame"
            android:screenOrientation="portrait"
            android:noHistory="true"/>
        <activity android:name=".MindfullnessMeditation"
            android:noHistory="true"/>
        <activity android:name=".MindfullnessFeatherSelection" />
        <activity android:name=".MindfullnessBreathingGame"
            android:noHistory="true"/>
        <activity android:name=".MindfullnessBreathing"
            android:noHistory="true"/>
        <activity android:name=".ButterflyDetailsPage" />
        <activity android:name=".ButterflyCollectionPage" />
        <activity android:name=".AtriumScreen"
            />
        <activity android:name=".ProfilePage" />
        <activity android:name=".CommunityPage" />
        <activity android:name=".HomeScreen" />
        <activity android:name=".MindfullnessSelection" />
        <activity android:name=".SurveyPage" />
        <activity android:name=".MainActivity"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".DetectedActivitiesIntentService"
            android:exported="false" />
        <service android:name=".BackgroundDetectedActivitiesService" />
    </application>

</manifest>